body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 50px;
}
